<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>aleksandrvin.KLMDictionary</string>
	<key>CFBundleName</key>
	<string>KLM</string>
	<key>CFBundleShortVersionString</key>
	<string>{{VERSION}}</string>
	<key>DCSDictionaryCopyright</key>
	<string>KLM Dictionary
	https://github.com/aleksandr-vin/klm-dictionary
	No Copyright (CC0 1.0)</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Aleksandr Vinokurov</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
	</dict>
</dict>
</plist>
